<section hidden class="play-ground_hard">

    <img class="play-ground__card" src="../img/card-cover.jpg" alt="playing card">
    <img class="play-ground__card" src="../img/card-cover.jpg" alt="playing card">
    <img class="play-ground__card" src="../img/card-cover.jpg" alt="playing card">
    <img class="play-ground__card" src="../img/card-cover.jpg" alt="playing card">
    <img class="play-ground__card" src="../img/card-cover.jpg" alt="playing card">
    <img class="play-ground__card" src="../img/card-cover.jpg" alt="playing card">
    <img class="play-ground__card" src="../img/card-cover.jpg" alt="playing card">
    <img class="play-ground__card" src="../img/card-cover.jpg" alt="playing card">
    <img class="play-ground__card" src="../img/card-cover.jpg" alt="playing card">
    <img class="play-ground__card" src="../img/card-cover.jpg" alt="playing card">
  
</section>
