<section class="play-ground_easy">
  
  <div class="play-ground__wrapper-line">

    <div class="play-ground__flip-card">
      <div class="play-ground__flip-card-inner">
        <div class="play-ground__card"></div>
        <div class="play-ground__card_backside"></div>
      </div>
    </div>

    <div class="play-ground__flip-card">
      <div class="play-ground__flip-card-inner">
        <div class="play-ground__card"></div>
        <div class="play-ground__card_backside"></div>
      </div>
    </div>
    
    <div class="play-ground__flip-card">
      <div class="play-ground__flip-card-inner">
        <div class="play-ground__card"></div>
        <div class="play-ground__card_backside"></div>
      </div>
    </div>

  </div>

</section>
