<section class="play-ground_hard">

  <div class="play-ground__wrapper-line">
    <div class="play-ground__card"></div>
    <div class="play-ground__card"></div>
    <div class="play-ground__card"></div>
    <div class="play-ground__card"></div>
    <div class="play-ground__card"></div>
  </div>

  <div class="play-ground__wrapper-line">
    <div class="play-ground__card"></div>
    <div class="play-ground__card"></div>
    <div class="play-ground__card"></div>
    <div class="play-ground__card"></div>
    <div class="play-ground__card"></div>
  </div>

</section>
