<section class="play-ground_easy hidden-layer">
  
  <div class="play-ground__wrapper-line">

    <div class="play-ground__flip-card">
      <div class="play-ground__flip-card-wrapper">
        <div class="play-ground__card-frontside"></div>
        <div class="play-ground__card-backside"></div>
      </div>
    </div>

    <div class="play-ground__flip-card">
      <div class="play-ground__flip-card-wrapper">
        <div class="play-ground__card-frontside"></div>
        <div class="play-ground__card-backside"></div>
      </div>
    </div>
    
    <div class="play-ground__flip-card">
      <div class="play-ground__flip-card-wrapper">
        <div class="play-ground__card-frontside"></div>
        <div class="play-ground__card-backside"></div>
      </div>
    </div>

  </div>

</section>
