<section class="select-level">

  <header class="select-level__header">
    <h1 class="select-level__title">Выберите уровень сложности:</h1>
    <p class="select-level__subtitle">
      <span class="select-level__subtitle_bold">Выберите сложность и игра начнется.</span>
      Чем выше уровень - тем больше будет выборка карт.</p>
  </header>

  <ul class="select-level__choise-of-difficulty choise-of-difficulty">
    <li class="choise-of-difficulty__select">&nbsp;Простой</li>
    <li class="choise-of-difficulty__select">&nbsp;Средний</li>
    <li class="choise-of-difficulty__select">&nbsp;Сложный</li>
  </ul>

</section>
