.select-level__title {
  font: normal normal 700 3.5em "roboto", sans-serif;
  line-height: .2;
  margin-bottom: .5em;
}

@media (max-width: 1024px) {
  .select-level__title {
    font-size: 3em;
  }
}

@media (max-width: 768px) {
  .select-level__title {
    font-size: 2.6em;
  }
}

@media (max-width: 425px) {
  .select-level__title {
    font-size: 2em;
    line-height: 1;
    text-align: center;
  }
}
