.select-level__start-button {
  transition: text-shadow .2s, transition .2s;
  background: #d62b2e;
  border-radius: 8px;
  border: none;
  box-shadow: 0 2px 3px #0000007f;
  color: #fff;
  display: block;
  font: normal normal 700 2em "roboto", sans-serif;
  height: 3em;
  outline: none;
  width: 11em;
}

.select-level__start-button:hover {
  box-shadow: 0 4px 3px #0000007f;
  cursor: pointer;
  transform: translateY(-2px);
}

.select-level__start-button:active {
  box-shadow: none;
  position: relative;
  transform: translateY(2px);
}
