.select-level__start-button {
  background: #d62b2e;
  border-radius: 8px;
  border: none;
  box-shadow: 0px 2px 3px #0000007f;
  color: #fff;
  display: block;
  font: normal normal 700 2em "roboto", sans-serif;
  height: 3em;
  outline: none;
  width: 11em;
}
