.cards-on-table {
  bottom: 0;
  position: absolute;
  right: 0;
}

.cards-on-table__card {
  border-radius: 8px;
  bottom: 0;
  height: var(--card-height);
  position: absolute;
  right: 18.75em;
  width: var(--card-width);
}

.cards-on-table__card_left {
  animation: slide-left-card .8s ease-out forwards;
  transform: rotate(12deg);
}

.cards-on-table__card_right {
  animation: slide-right-card 1s ease-out forwards;
  transform: rotate(40deg);
}

@keyframes slide-left-card {
  from {
    transform: rotate(0);
  }

  to {
    transform: translateY(-4em) rotate(12deg);
  }
}

@keyframes slide-right-card {
  from {
    transform: rotate(0);
  }

  to {
    transform: translate(9em, -2em) rotate(40deg);
  }
}
