.play-ground_easy {
  align-items: center;
  display: flex;
  justify-content: center;
  position: relative;

  display: none;
}

.play-ground_normal {
  flex-wrap: wrap;
  justify-content: center;

  display: none;
}

.play-ground_hard {
  border: 1px solid red;
  
  display: none;
}

.play-ground__wrapper-line {
  display: flex;

  /*display: none;*/
}
