.play-ground_easy {
  /*height: 80vh;*/
  /*width: 80vw;*/
  align-items: center;
  border: 1px solid red;
  display: flex;
  justify-content: center;
  position: relative;
}

.play-ground_normal {
  flex-wrap: wrap;
}

.play-ground_hard {

}
