.play-ground_easy,
.play-ground_normal,
.play-ground_hard {
  transition: opacity .2s;
  display: none;
}

.play-ground_easy {
  align-items: center;
  justify-content: center;
  position: relative;
}

.play-ground_normal {
  flex-wrap: wrap;
  justify-content: center;
}

.play-ground__wrapper-line {
  display: flex;
}
