.play-ground__flip-card {
  height: var(--card-height);
  margin: 1.5em;
  perspective: 1000px;
  transition:
    transform .5s,
    box-shadow .5s;
  width: var(--card-width);
}

.play-ground__flip-card-wrapper {
  position: relative;
  transform-style: preserve-3d;
  transition:
    transform .5s,
    box-shadow .5s;
}

.play-ground__card-frontside,
.play-ground__card-backside {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border-radius: 8px;
  cursor: pointer;
  height: var(--card-height);
  position: absolute;
  width: var(--card-width);
}

.play-ground__card-frontside {
  background: no-repeat center/contain url(../img/card-cover.jpg);
  transition:
    transform .5s .5s,
    box-shadow .5s;
}

.play-ground__card-backside {
  background: no-repeat center/contain url(../img/card-cover-backside.jpg);
  box-shadow: var(--card-shadow);
  transform: rotateY(180deg);
}

.play-ground__flip-card:hover {
  transform: translate(-.5em, -1.5em);
}

.play-ground__card-frontside:hover {
  box-shadow: var(--card-shadow);
  transform: rotate(-3deg);
}

.play-ground__flip-card-wrapper:active {
  box-shadow: var(--card-shadow);
  transform: rotateY(-180deg);
}
